@page "/receipts/create"
@using System.Text.Json
@using AutoMapper
@using BusinessManagementWebApp.Components.Clients
@using BusinessManagementWebApp.Data
@using BusinessManagementWebApp.Data.Entities
@using BusinessManagementWebApp.Data.Receipts.CreateReceipt
@using BusinessManagementWebApp.Data.Receipts.UpsertReceiptItem

@inject ApiClient api
@inject IMapper mapper
@inject IDialogService DialogService
@inject ISnackbar Snackbar
@inject NavigationManager NavigationManager

<div class="d-flex">
    <div class="mr-auto p-2">
        <h1>New Transaction</h1>
    </div>

    <div class="p-2">
        <MudTooltip Delay="300"
                    Text="Save">

            <MudFab Color="Color.Default"
                    OnClick="OnSave"
                    StartIcon="@Icons.Material.Filled.Save" />

        </MudTooltip>

        <MudTooltip Delay="300"
                    Text="Cancel">

            <MudFab Color="Color.Error"
                    OnClick="NavigateToReceipts"
                    StartIcon="@Icons.Material.Filled.Cancel" />

        </MudTooltip>
    </div>
</div>

<MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
    <MudTabPanel Text="Details">
        <MudTextField @bind-Value="receipt.ReceiptRef"
                      Label="Transaction Reference"
                      Variant="Variant.Outlined"
                      Required="true"
                      RequiredError="Transaction Reference Required" />

        <MudDatePicker @bind-Value="receipt.ReceiptDate"
                       Format="dd/MM/yyyy"
                       Label="Transaction Date"
                       Variant="Variant.Outlined" />

        <div class="d-flex flex-row">
            <MudSelect @key="clients.Count"
                       Value="receipt.Client"
                       T="Client"
                       Label="Client"
                       Placeholder="Select Client"
                       ValueChanged="OnClientChanged"
                       Variant="Variant.Outlined">

                @foreach (var client in clients)
                {
                    <MudSelectItem Value="client">@client.ClientName</MudSelectItem>
                }
            </MudSelect>
            <MudFab Color="Color.Success"
                    IconSize="Size.Small"
                    OnClick="OpenCreateClientDialogAsync"
                    Size="Size.Small"
                    StartIcon="@Icons.Material.Filled.Add" />
        </div>

        <MudNumericField Format="C"
                         Label="Gross Value"
                         T="decimal"
                         Value="receipt.GrossValue"
                         ValueChanged="OnGrossValueChanged"
                         Variant="Variant.Outlined" />

        <MudNumericField Format="C"
                         Label="Tax Value"
                         T="decimal"
                         Value="receipt.TaxValue"
                         ValueChanged="OnTaxValueChanged"
                         Variant="Variant.Outlined" />

        <MudNumericField Format="C"
                         Label="Net Value"
                         T="decimal"
                         Value="receipt.NetValue"
                         ValueChanged="OnNetValueChanged"
                         Variant="Variant.Outlined" />
    </MudTabPanel>
    <MudTabPanel Text="Allocations"
                 Disabled="receipt.Client is null">

        <MudPaper MaxWidth="70%">
            <div class="d-flex">
                <div class="mr-auto">
                    <MudButton Color="Color.Success"
                               OnClick="OpenCreateReceiptItemDialogAsync"
                               StartIcon="@Icons.Material.Filled.Add">Add Item</MudButton>

                    <MudButton Color="Color.Error"
                               OnClick="DeleteReceiptItems"
                               StartIcon="@Icons.Material.Filled.Delete">Remove Item</MudButton>
                </div>

                <div class="">
                    <MudInputLabel Variant="Variant.Text">
                        Un-Allocated Amt: $@(receipt.NetValue - receipt.OffsetValue)
                    </MudInputLabel>
                </div>
            </div>

            <MudDataGrid @bind-SelectedItems="selectedReceiptItems"
                         Items="receiptItems"
                         EditMode="DataGridEditMode.Cell"
                         EditTrigger="DataGridEditTrigger.OnRowClick"
                         MultiSelection="true"
                         ReadOnly="false"
                         SelectOnRowClick="false"
                         T="ReceiptItem">

                <Columns>
                    <SelectColumn T="ReceiptItem" />
                    <PropertyColumn Editable="false"
                                    Property="x => x.Invoice.InvoiceRef"
                                    Title="Ref" />

                    <PropertyColumn Editable="false"
                                    Property="x => x.Invoice.InvoiceDate"
                                    Title="Date" />

                    <PropertyColumn Editable="false"
                                    Property="x => x.Invoice.NetValue"
                                    Title="Net"
                                    Format="C" />

                    <PropertyColumn Editable="false"
                                    Property="x => x.Invoice.NetValue - x.Invoice.OffsetValue - x.NetValue"
                                    Title="Outstanding Amt."
                                    Format="C" />

                    <TemplateColumn Editable="true"
                                    Title="Allocated">
                        <CellTemplate>
                            @context.Item.NetValue.ToString("C")
                        </CellTemplate>
                        <EditTemplate>
                            <MudNumericField Format="C"
                                             Value="context.Item.NetValue"
                                             ValueChanged="(value) => OnAllocationUpdated(value, context.Item)"
                                             T="decimal" />
                        </EditTemplate>
                    </TemplateColumn>

                    <TemplateColumn>
                        <CellTemplate>
                            <MudStack Row="true">
                                <MudButton Color="Color.Success"
                                           OnClick="() => CompleteAllocation(context.Item)"
                                           Size="Size.Small"
                                           Variant="Variant.Filled">
                                    Allocate
                                </MudButton>

                                <MudButton Color="Color.Warning"
                                           OnClick="() => ClearAllocation(context.Item)"
                                           Size="Size.Small"
                                           Variant="Variant.Filled">
                                    De-Allocate
                                </MudButton>
                            </MudStack>
                        </CellTemplate>
                    </TemplateColumn>
                </Columns>

            </MudDataGrid>
        </MudPaper>

    </MudTabPanel>
</MudTabs>

<AddClientDialog />

<AddReceiptAllocationDialog />

@code {
    private List<Client> clients = [];
    private List<Invoice> clientInvoices = [];
    private HashSet<ReceiptItem> selectedReceiptItems = [];
    private Receipt receipt = new();
    private List<ReceiptItem> receiptItems = [];

    private void ClearAllocation(ReceiptItem allocation)
    {
        allocation.NetValue = 0;
        RecalculateOffsets();
        StateHasChanged();
    }

    private void CompleteAllocation(ReceiptItem allocation)
    {
        var invoiceRemaining = allocation.Invoice.NetValue - allocation.Invoice.OffsetValue;
        var receiptAvailable = receipt.NetValue - receipt.OffsetValue + allocation.NetValue;
        allocation.NetValue = Math.Min(invoiceRemaining, receiptAvailable);
        RecalculateOffsets();
        StateHasChanged();
    }

    private async Task DeleteReceiptItems()
    {
        if (!selectedReceiptItems.Any())
            return;

        foreach (var _Item in selectedReceiptItems)
            receiptItems.Remove(_Item);

        selectedReceiptItems.Clear();
        RecalculateOffsets();
        StateHasChanged();
    }

    private async Task GetClients()
    {
        var _Response = await api.GetClientsAsync();

        clients = _Response.Clients ?? [];
        this.StateHasChanged();
    }

    private async Task GetClientInvoices()
    {
        var _Response = await api.GetClientInvoicesAsync(receipt.Client.ClientID);

        clientInvoices = _Response.Invoices.Where(t => t.Outstanding == true).ToList() ?? [];
        StateHasChanged();
    }

    private void NavigateToReceipts()
        => NavigationManager.NavigateTo("receipts");

    protected override async Task OnInitializedAsync()
        => await GetClients();

    private void OnAllocationUpdated(decimal value, ReceiptItem item)
    {
        var invoiceRemaining = item.Invoice.NetValue - item.Invoice.OffsetValue;
        if (value >= 0 && value <= invoiceRemaining)
        {
            item.NetValue = value;
            RecalculateOffsets();
        }
    }

    private async Task OnSave()
    {
        if (string.IsNullOrEmpty(receipt.ReceiptRef))
        {
            Snackbar.Add("Receipt must have a reference.", Severity.Error);
            return;
        }

        if (receipt.Client is null)
        {
            Snackbar.Add("Receipt must have a client.", Severity.Error);
            return;
        }

        if (receiptItems.Count == 0)
        {
            Snackbar.Add("Receipt must have at least one item.", Severity.Error);
            return;
        }

        RecalculateOffsets();
        receipt.Outstanding = receipt.OffsetValue < receipt.NetValue;

        var _Response = await api.CreateReceiptAsync(mapper.Map<CreateReceiptRequest>(receipt));

        if (!_Response.IsSuccessStatusCode)
        {
            Snackbar.Add($"Error {(int)_Response.StatusCode}: {await _Response.GetErrorBodyAsync()}", Severity.Error);
            return;
        }

        var _ResponseData = Newtonsoft.Json.JsonConvert.DeserializeObject<CreateReceiptResponse>(await _Response.Content.ReadAsStringAsync());

        foreach (var _Allocation in receiptItems)
        {
            var _UpsertRequest = mapper.Map<UpsertReceiptItemRequest>(_Allocation);
            _UpsertRequest.ReceiptID = _ResponseData!.ReceiptID;

            var _UpsertResponse = await api.UpsertReceiptItemAsync(_UpsertRequest);
            if (!_UpsertResponse.IsSuccessStatusCode)
            {
                Snackbar.Add($"Error {(int)_UpsertResponse.StatusCode}: {await _UpsertResponse.GetErrorBodyAsync()}", Severity.Error);
                return;
            }
        }

        Snackbar.Add("Receipt Created.", Severity.Success);
        NavigateToReceipts();
    }

    private async Task OpenCreateClientDialogAsync()
    {
        var dialog = await DialogService.ShowAsync<AddClientDialog>();

        var result = await dialog.Result;

        if (dialog.Result is not null && !dialog.Result.IsCanceled && result is not null && result.Data is not null)
        {
            SelectCreatedClient((Client)result.Data);
            await GetClients();
            StateHasChanged();
        }
    }

    private async Task OnClientChanged(Client client)
    {
        receipt.Client = client;
        receipt.ClientID = client.ClientID;

        await GetClientInvoices();
    }

    private void OnGrossValueChanged(decimal value)
    {
        receipt.GrossValue = value;
        receipt.TaxValue = value * 0.1m;
        receipt.NetValue = receipt.GrossValue + receipt.TaxValue;
    }

    private void OnNetValueChanged(decimal value)
    {
        receipt.NetValue = value;
        receipt.GrossValue = receipt.NetValue / 1.1m;
        receipt.TaxValue = receipt.GrossValue * 0.1m;
    }

    private void OnTaxValueChanged(decimal value)
    {
        receipt.TaxValue = value;
        receipt.GrossValue = receipt.TaxValue * 10;
        receipt.NetValue = receipt.GrossValue + receipt.TaxValue;
    }

    private async Task OpenCreateReceiptItemDialogAsync()
    {
        var dialog = await DialogService.ShowAsync<AddReceiptAllocationDialog>("", new DialogParameters<AddReceiptAllocationDialog>()
        {
            { x => x.ClientID, receipt.ClientID }
        });

        var result = await dialog.Result;

        if (!dialog.Result.IsCanceled && result?.Data is not null)
        {
            foreach (var _Allocation in (HashSet<ReceiptItem>)result.Data)
                receiptItems.Add(_Allocation);

            StateHasChanged();
        }
    }

    private void RecalculateOffsets()
        => receipt.OffsetValue = receiptItems.Sum(a => a.NetValue);

    private void SelectCreatedClient(Client client)
    {
        clients.Add(client);
        receipt.Client = client;
        receipt.ClientID = client.ClientID;
        StateHasChanged();
    }
}