@page "/products"
@using System.Threading.Tasks
@using AutoMapper
@using BusinessManagementWebApp.Data
@using BusinessManagementWebApp.Data.Products.DeleteProduct
@using BusinessManagementWebApp.Data.Products.Entities
@using Microsoft.AspNetCore.Components.Web
@using MudBlazor
@rendermode InteractiveServer

@inject ApiClient api
@inject IDialogService DialogService
@inject IMapper mapper
@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar

<PageTitle>Products</PageTitle>

<div class="d-flex">
    <div class="mr-auto p-2">
        <h1>Products</h1>
    </div>

    <div class="p-2">
        <MudFab Color="Color.Success"
                OnClick="OpenCreateProductDialogAsync"
                StartIcon="@Icons.Material.Filled.Add" />

        <MudFab Color="Color.Error"
                Disabled="selectedProducts.Count == 0"
                OnClick="OnDelete"
                StartIcon="@Icons.Material.Filled.Delete" />
    </div>
</div>

<MudTable @bind-SelectedItems="selectedProducts"
          Breakpoint="Breakpoint.Sm"
          Items="@products"
          Hover="true"
          Loading="@loading"
          LoadingProgressColor="Color.Info"
          MultiSelection="true"
          OnRowClick="ProductSelected"
          RowClass="cursor-pointer"
          T="Product">

    <HeaderContent>
        <MudTh>Code</MudTh>
        <MudTh>Name</MudTh>
    </HeaderContent>

    <RowTemplate>
        <MudTd DataLabel="Name">@context.ProductCode</MudTd>
        <MudTd DataLabel="Name">@context.ProductName</MudTd>
    </RowTemplate>

</MudTable>

<AddProductDialog />

<MudMessageBox @ref="deleteConfirmationMessage"
               Title="Warning"
               CancelText="Cancel">
    <MessageContent>
        Are you sure you want to delete @(selectedProducts.Count > 1
                ? $"{selectedProducts.Count} Products"
                : $"{selectedProducts.First().ProductName}")?
    </MessageContent>
    <YesButton>
        <MudButton Variant="Variant.Filled" Color="Color.Error" StartIcon="@Icons.Material.Filled.DeleteForever">Delete!</MudButton>
    </YesButton>
</MudMessageBox>

@code {
    private string deleteState = string.Empty;
    private MudMessageBox deleteConfirmationMessage = default!;
    private bool loading;
    private List<Product> products = [];
    private HashSet<Product> selectedProducts = [];

    private async Task GetProducts()
    {
        loading = true;
        var _Response = await api.GetProductsAsync();

        products = _Response.Products ?? [];
        loading = false;
        this.StateHasChanged();
    }

    private async Task OnDelete()
    {
        if (selectedProducts.Count != 0)
        {
            bool? result = await deleteConfirmationMessage.ShowAsync();
            deleteState = result is null ? "Canceled" : "Deleted!";

            if (deleteState == "Deleted!")
            {
                foreach (var product in selectedProducts)
                {
                    var _Request = mapper.Map<DeleteProductRequest>(product);
                    var _Response = api.DeleteProductAsync(_Request);
                    Snackbar.Add($"Product {product.ProductCode} Deleted.", Severity.Error);
                    products.Remove(product);
                }
            }
            await GetProducts();
            selectedProducts.Clear();
            this.StateHasChanged();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await GetProducts();
    }

    private async Task OpenCreateProductDialogAsync()
    {
        var dialog = await  DialogService.ShowAsync<AddProductDialog>();

        if (dialog.Result != null && !dialog.Result.IsCanceled)
        {
            await GetProducts();
            StateHasChanged();
        }
    }

    private void ProductSelected(TableRowClickEventArgs<Product> args)
    {
        var _SelectedProduct = args.Item;

        if (_SelectedProduct is not null)
            NavigationManager.NavigateTo($"/products/{_SelectedProduct.ProductID}");
    }
}