@page "/transactions/receipt/create"
@using System.Text.Json
@using AutoMapper
@using BusinessManagementWebApp.Components.Clients
@using BusinessManagementWebApp.Data
@using BusinessManagementWebApp.Data.Entities
@using BusinessManagementWebApp.Data.TransactionItems.UpsertTransactionItem
@using BusinessManagementWebApp.Data.Transactions.CreateTransaction
@using BusinessManagementWebApp.Data.Transactions.UpdateTransaction
@using BusinessManagementWebApp.Infrastructure.Enums

@inject ApiClient api
@inject IMapper mapper
@inject IDialogService DialogService
@inject ISnackbar Snackbar
@inject NavigationManager NavigationManager

<div class="d-flex">
    <div class="mr-auto p-2">
        <h1>New Transaction</h1>
    </div>

    <div class="p-2">
        <MudTooltip Delay="300"
                    Text="Save">

            <MudFab Color="Color.Default"
                    OnClick="OnSave"
                    StartIcon="@Icons.Material.Filled.Save" />

        </MudTooltip>

        <MudTooltip Delay="300"
                    Text="Cancel">

            <MudFab Color="Color.Error"
                    OnClick="NavigateToTransactions"
                    StartIcon="@Icons.Material.Filled.Cancel" />

        </MudTooltip>
    </div>
</div>

<MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
    <MudTabPanel Text="Details">
        <MudTextField @bind-Value="transaction.TransactionRef"
                      Label="Transaction Reference"
                      Variant="Variant.Outlined"
                      Required="true"
                      RequiredError="Transaction Reference Required" />

        <MudDatePicker @bind-Value="transaction.TransactionDate"
                       Format="dd/MM/yyyy"
                       Label="Transaction Date"
                       Variant="Variant.Outlined" />

        <div class="d-flex flex-row">
            <MudSelect @key="clients.Count"
                       Value="transaction.Client"
                       T="Client"
                       Label="Client"
                       Placeholder="Select Client"
                       ValueChanged="OnClientChanged"
                       Variant="Variant.Outlined">

                @foreach (var client in clients)
                {
                    <MudSelectItem Value="client">@client.ClientName</MudSelectItem>
                }
            </MudSelect>
            <MudFab Color="Color.Success"
                    IconSize="Size.Small"
                    OnClick="OpenCreateClientDialogAsync"
                    Size="Size.Small"
                    StartIcon="@Icons.Material.Filled.Add" />
        </div>
    </MudTabPanel>
    <MudTabPanel Text="Allocations"
                 Disabled="transaction.Client is null">

        <MudPaper MaxWidth="70%">
            <div class="d-flex justify-content-start">
                <MudButton Color="Color.Success"
                           OnClick="OpenCreateTransactionItemDialogAsync"
                           StartIcon="@Icons.Material.Filled.Add">Add Item</MudButton>

                <MudButton Color="Color.Error"
                           OnClick="DeleteTransactionAllocations"
                           StartIcon="@Icons.Material.Filled.Delete">Remove Item</MudButton>
            </div>

            <MudDataGrid @bind-SelectedItems="selectedTransactionAllocations"
                         Items="transactionAllocations"
                         EditMode="DataGridEditMode.Cell"
                         EditTrigger="DataGridEditTrigger.OnRowClick"
                         MultiSelection="true"
                         ReadOnly="false"
                         SelectOnRowClick="false"
                         T="TransactionAllocation">

                <Columns>
                    <PropertyColumn Editable="false"
                                    Property="x => x.RecievingTransaction.TransactionRef"
                                    Title="Ref" />

                    <PropertyColumn Editable="false"
                                    Property="x => x.RecievingTransaction.TransactionDate"
                                    Title="Date" />

                    <PropertyColumn Editable="false"
                                    Property="x => x.RecievingTransaction.NetValue"
                                    Title="Net"
                                    Format="C" />

                    <PropertyColumn Editable="false"
                                    Property="x => x.RecievingTransaction.OutstandingValue"
                                    Title="Outstanding"
                                    Format="C" />

                    <TemplateColumn CellClass="d-flex"
                                    Editable="true"
                                    Title="Allocated">

                        <EditTemplate>
                            <MudNumericField Format="C"
                                             Value="context.Item.AllocationValue"
                                             ValueChanged="(value) => OnAllocationUpdated(value, context.Item)"
                                             T="decimal" />
                        </EditTemplate>

                    </TemplateColumn>
                </Columns>

            </MudDataGrid>
        </MudPaper>

    </MudTabPanel>
</MudTabs>

<AddClientDialog />

<AddReceiptAllocationDialog />

@code {
    private List<Client> clients = [];
    private List<Transaction> clientTransactions = [];
    private HashSet<TransactionAllocation> selectedTransactionAllocations = [];
    private Transaction transaction = new();
    private List<TransactionAllocation> transactionAllocations = [];

    [CascadingParameter]
    private IMudDialogInstance MudDialog { get; set; }

    private bool CanAllocateToTransaction(decimal allocationAmount, TransactionAllocation allocation)
        => allocation.RecievingTransaction.Outstanding == true
            && (allocation.RecievingTransaction.OffsetValue + allocationAmount) <= allocation.RecievingTransaction.NetValue;

    private async Task DeleteTransactionAllocations()
    {
        if (!selectedTransactionAllocations.Any())
            return;

        foreach (var _Item in selectedTransactionAllocations)
            transactionAllocations.Remove(_Item);

        selectedTransactionAllocations.Clear();
        StateHasChanged();
    }

    private async Task GetClients()
    {
        var _Response = await api.GetClientsAsync();

        clients = _Response.Clients ?? [];
        this.StateHasChanged();
    }

    private async Task GetClientTransactions()
    {
        var _Response = await api.GetClientTransactionsAsync(transaction.Client.ClientID.ToString());

        clientTransactions = _Response.Transactions.Where(t => t.Outstanding = true).ToList() ?? [];
        StateHasChanged();
    }

    private void NavigateToTransactions()
        => NavigationManager.NavigateTo("transactions");

    protected override async Task OnInitializedAsync()
        => await GetClients();

    private async Task OnAllocationUpdated(decimal value, TransactionAllocation item)
    {
        if (CanAllocateToTransaction(value, item))
        {
            item.AllocationValue = value;
            item.RecievingTransaction.OffsetValue = item.AllocationValue;
            item.RecievingTransaction.OutstandingValue = item.RecievingTransaction.NetValue - item.RecievingTransaction.OffsetValue;

            if (item.RecievingTransaction.OutstandingValue == 0)
                item.RecievingTransaction.Outstanding = false;
        }
    }

    private async Task OnSave()
    {
        if (string.IsNullOrEmpty(transaction.TransactionRef))
        {
            Snackbar.Add("Receipt must have a reference.", Severity.Error);
            return;
        }

        if (transaction.Client is null)
        {
            Snackbar.Add("Receipt must have a client.", Severity.Error);
            return;
        }

        if (transactionAllocations.Count == 0)
        {
            Snackbar.Add("Receipt must have at least one item.", Severity.Error);
            return;
        }

        transaction.TransactionType = TransactionType.Receipt.GetCode();

        var _Response = await api.CreateTransactionAsync(mapper.Map<CreateTransactionRequest>(transaction));

        if (!_Response.IsSuccessStatusCode)
        {
            Snackbar.Add($"Error {(int)_Response.StatusCode}: {JsonSerializer.Deserialize<string>(_Response.Content.ReadAsStringAsync().Result)}", Severity.Error);
            return;
        }

        Snackbar.Add("Receipt Created.", Severity.Success);
        NavigateToTransactions();
    }

    private async Task OpenCreateClientDialogAsync()
    {
        var dialog = await DialogService.ShowAsync<AddClientDialog>();

        var result = await dialog.Result;

        if (dialog.Result is not null && !dialog.Result.IsCanceled && result is not null && result.Data is not null)
        {
            SelectCreatedClient((Client)result.Data);
            await GetClients();
            StateHasChanged();
        }
    }

    private async Task OnClientChanged(Client client)
    {
        transaction.Client = client;
        transaction.ClientID = client.ClientID;

        await GetClientTransactions();
    }

    private async Task OpenCreateTransactionItemDialogAsync()
    {
        var dialog = await DialogService.ShowAsync<AddReceiptAllocationDialog>("", new DialogParameters<AddReceiptAllocationDialog>()
        {
            { x => x.ClientID, transaction.ClientID }
        });

        var result = await dialog.Result;

        if (!dialog.Result.IsCanceled && result?.Data is not null)
        {
            foreach (var _Allocation in (HashSet<TransactionAllocation>)result.Data)
                transactionAllocations.Add(_Allocation);

            StateHasChanged();
        }
    }

    private void SelectCreatedClient(Client client)
    {
        clients.Add(client);
        transaction.Client = client;
        transaction.ClientID = client.ClientID;
        StateHasChanged();
    }
}