@page "/transactions/create"
@using AutoMapper
@using BusinessManagementWebApp.Components.Clients
@using BusinessManagementWebApp.Data
@using BusinessManagementWebApp.Data.Clients.Entities
@using BusinessManagementWebApp.Data.Products.Entities
@using BusinessManagementWebApp.Data.TransactionItems.Entities
@using BusinessManagementWebApp.Data.TransactionItems.UpsertTransactionItem
@using BusinessManagementWebApp.Data.Transactions.CreateTransaction
@using BusinessManagementWebApp.Data.Transactions.Entities
@using BusinessManagementWebApp.Infrastructure.Enums
@using System.Text.Json

@inject ApiClient api
@inject IMapper mapper
@inject IDialogService DialogService
@inject ISnackbar Snackbar
@inject NavigationManager NavigationManager

<div class="d-flex">
    <div class="mr-auto p-2">
        <h1>New Transaction</h1>
    </div>

    <div class="p-2">
        <MudTooltip Delay="300"
                    Text="Save">

            <MudFab Color="Color.Default"
                    OnClick="OnSave"
                    StartIcon="@Icons.Material.Filled.Save" />

        </MudTooltip>

        <MudTooltip Delay="300"
                    Text="Cancel">

            <MudFab Color="Color.Error"
                    OnClick="NavigateToTransactions"
                    StartIcon="@Icons.Material.Filled.Cancel" />

        </MudTooltip>
    </div>
</div>

<MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
    <MudTabPanel Text="Details">
        <MudPaper MaxWidth="30%">
            <MudTextField @bind-Value="transaction.TransactionRef"
                          Label="Transaction Reference"
                          Variant="Variant.Outlined"
                          Required="true"
                          RequiredError="Transaction Reference Required" />

            <MudTextField @bind-Value="transaction.TransactionDate"
                          Disabled="IsReciept()"
                          Format="dd/MM/yyyy"
                          Label="Transaction Date"
                          Variant="Variant.Outlined" />

            <MudSelect @bind-Value="transaction.TransactionType"
                       Label="Transaction Type"
                       Placeholder="Please Select">

                <MudSelectItem Value="TransactionType.Invoice.GetCode()">Invoice</MudSelectItem>
                <MudSelectItem Value="TransactionType.Receipt.GetCode()">Receipt</MudSelectItem>

            </MudSelect>

            <MudDatePicker @bind-Date="transaction.DueDate"
                           Label="Transaction Due Date"
                           Disabled="IsReciept()" />

            <div class="d-flex flex-row">
                <MudSelect @key="clients.Count" Value="transaction.Client" T="Client" Label="Client" Placeholder="Select Client" ValueChanged="OnClientChanged">
                    @foreach (var client in clients)
                    {
                        <MudSelectItem Value="client">@client.ClientName</MudSelectItem>
                    }
                </MudSelect>
                <MudFab Color="Color.Success"
                        IconSize="Size.Small"
                        OnClick="OpenCreateClientDialogAsync"
                        Size="Size.Small"
                        StartIcon="@Icons.Material.Filled.Add" />
            </div>
        </MudPaper>
    </MudTabPanel>
    <MudTabPanel Text="Transaction Items">
        <MudPaper MaxWidth="70%">
            <div class="d-flex justify-content-start">
                <MudButton Color="Color.Success"
                           OnClick="OpenCreateTransactionItemDialogAsync"
                           StartIcon="@Icons.Material.Filled.Add">Add Item</MudButton>

                <MudButton Color="Color.Error"
                           OnClick="DeleteTransactionItems"
                           StartIcon="@Icons.Material.Filled.Delete">Remove Item</MudButton>
            </div>

            <MudDataGrid @bind-SelectedItems="selectedTransactionItems"
                         CommittedItemChanges="OnEditTransactionItem"
                         EditMode="DataGridEditMode.Cell"
                         EditTrigger="DataGridEditTrigger.OnRowClick"
                         Items="@transactionItems"
                         MultiSelection="true"
                         ReadOnly="false"
                         SelectOnRowClick="false"
                         T="TransactionItem">

                <Columns>
                    <SelectColumn T="TransactionItem" />
                    <PropertyColumn Editable="false"
                                    Property="x => x.Product.ProductCode"
                                    Title="Code" />

                    <PropertyColumn Editable="false"
                                    Property="x => x.Product.ProductName"
                                    Title="Name" />

                    <PropertyColumn Editable="false"
                                    Property="x => x.Product.ProductDescription"
                                    Title="Description" />

                    <PropertyColumn Editable="true"
                                    Property="x => x.Quantity"
                                    Title="Quantity" />

                    <PropertyColumn Editable="true"
                                    Property="x => x.PricePerItem"
                                    Format="N2"
                                    Title="Each" />

                    <PropertyColumn Editable="false"
                                    Property="x => x.LineGross"
                                    Format="N2"
                                    Title="Gross" />

                    <PropertyColumn Editable="false"
                                    Property="x => x.LineTax"
                                    Format="N2"
                                    Title="Tax" />

                    <PropertyColumn Editable="false"
                                    Property="x => x.LineNet"
                                    Format="N2"
                                    Title="Net" />

                </Columns>

            </MudDataGrid>
        </MudPaper>
    </MudTabPanel>
</MudTabs>

<AddClientDialog />

<AddTransactionItemDialog />

@code {
    private List<Client> clients = [];
    private HashSet<TransactionItem> selectedTransactionItems = [];
    private Transaction transaction = new();
    private List<TransactionItem> transactionItems = [];

    [CascadingParameter]
    private IMudDialogInstance MudDialog { get; set; }

    private void AddTransactionItem(Product product)
    {
        transactionItems.Add(new()
        {
            Product = product,
            ProductID = product.ProductID,
            PricePerItem = product.UnitPrice,
            Quantity = 1,
            LineGross = product.UnitPrice,
            LineTax = product.UnitPrice,
            LineNet = product.UnitPrice,
        });
        StateHasChanged();
    }

    private async Task DeleteTransactionItems()
    {
        if (!selectedTransactionItems.Any())
            return;

        foreach (var _Item in selectedTransactionItems)
            transactionItems.Remove(_Item);

        selectedTransactionItems.Clear();
        StateHasChanged();
    }

    private async Task GetClients()
    {
        var _Response = await api.GetClientsAsync();

        clients = _Response.Clients ?? [];
        this.StateHasChanged();
    }

    private bool IsReciept()
        => transaction.TransactionType == TransactionType.Receipt.GetCode();

    private void NavigateToTransactions()
        => NavigationManager.NavigateTo("transactions");

    private async Task OnEditTransactionItem(TransactionItem item)
    {
        item.LineGross = item.PricePerItem * item.Quantity;
        item.LineTax = item.LineGross * (decimal)0.10;
        item.LineNet = item.LineGross + item.LineTax;
        StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
        => await GetClients();

    private async Task OnSave()
    {
        if (string.IsNullOrEmpty(transaction.TransactionRef))
        {
            Snackbar.Add("Transaction must have a reference.", Severity.Error);
            return;
        }

        if (transaction.Client is null)
        {
            Snackbar.Add("Transaction must have a client.", Severity.Error);
            return;
        }

        if (transactionItems.Count == 0)
        {
            Snackbar.Add("Transaction must have at least one item.", Severity.Error);
            return;
        }

        var _Request = mapper.Map<CreateTransactionRequest>(transaction);
        var _Response = await api.CreateTransactionAsync(_Request);

        if (!_Response.IsSuccessStatusCode)
        {
            Snackbar.Add($"Error {(int)_Response.StatusCode}: {JsonSerializer.Deserialize<string>(_Response.Content.ReadAsStringAsync().Result)}", Severity.Error);
            return;
        }

        var _ResponseData = Newtonsoft.Json.JsonConvert.DeserializeObject<CreateTransactionResponse>(await _Response.Content.ReadAsStringAsync());

        foreach (var _Item in transactionItems)
        {
            if (_ResponseData is not null && _ResponseData.TransactionID != 0)
                _Item.TransactionID = _ResponseData.TransactionID;

            var _TransactionItemRequest = mapper.Map<UpsertTransactionItemRequest>(_Item);
            var _TransactionItemResponse = await api.UpsertTransactionItemAsync(_TransactionItemRequest);

            if (!_TransactionItemResponse.IsSuccessStatusCode)
            {
                Snackbar.Add($"Error {(int)_TransactionItemResponse.StatusCode}: {JsonSerializer.Deserialize<string>(_Response.Content.ReadAsStringAsync().Result)}", Severity.Error);
                return;
            }
        }

        Snackbar.Add("Transaction Created.", Severity.Success);
        NavigateToTransactions();
    }

    private async Task OpenCreateClientDialogAsync()
    {
        var dialog = await DialogService.ShowAsync<AddClientDialog>();

        var result = await dialog.Result;

        if (dialog.Result is not null && !dialog.Result.IsCanceled && result is not null && result.Data is not null)
        {
            SelectCreatedClient((Client)result.Data);
            await GetClients();
            StateHasChanged();
        }
    }

    private async Task OnClientChanged(Client client)
    {
        transaction.Client = client;
        transaction.ClientID = client.ClientID;
    }

    private async Task OpenCreateTransactionItemDialogAsync()
    {
        var dialog = await DialogService.ShowAsync<AddTransactionItemDialog>();

        var result = await dialog.Result;

        if (!dialog.Result.IsCanceled && result?.Data is not null)
        {
            foreach (var _Product in (HashSet<Product>)result.Data)
                AddTransactionItem(_Product);

            StateHasChanged();
        }
    }

    private void RecalculateTransactionValues()
    {
        transaction.GrossValue = 0;
        transaction.TaxValue = 0;
        transaction.NetValue = 0;

        transactionItems.ForEach(item => transaction.GrossValue += item.LineGross);
        transactionItems.ForEach(item => transaction.TaxValue += item.LineTax);
        transactionItems.ForEach(item => transaction.NetValue += item.LineNet);
    }

    private void SelectCreatedClient(Client client)
    {
        clients.Add(client);
        transaction.Client = client;
        transaction.ClientID = client.ClientID;
        StateHasChanged();
    }
}