@page "/transactions"
@using System.Text.Json
@using System.Threading.Tasks
@using AutoMapper
@using BusinessManagementWebApp.Data
@using BusinessManagementWebApp.Data.Entities
@using BusinessManagementWebApp.Data.Transactions.DeleteTransaction
@using BusinessManagementWebApp.Infrastructure.Enums

@inject ApiClient api
@inject IMapper mapper
@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar

<div class="d-flex">
    <div class="mr-auto p-2">
        <h1>Transactions</h1>
    </div>
</div>

<div class="d-flex justify-content-start">
    <MudButton Color="Color.Success"
               OnClick="NavigateToCreateInvoice"
               StartIcon="@Icons.Material.Filled.Add">Add Invoice</MudButton>

    <MudButton Color="Color.Success"
               OnClick="NavigateToCreateReceipt"
               StartIcon="@Icons.Material.Filled.Add">Add Receipt</MudButton>

    <MudButton Color="Color.Error"
               OnClick="OnDelete"
               StartIcon="@Icons.Material.Filled.Delete">Remove Transaction(s)</MudButton>
</div>

<MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
    <MudTabPanel Text="All">
        <MudDataGrid @bind-SelectedItems="selectedTransactions"
                     Breakpoint="Breakpoint.Sm"
                     Items="transactions"
                     Hover="true"
                     Loading="@loading"
                     LoadingProgressColor="Color.Info"
                     MultiSelection="true"
                     RowClass="cursor-pointer"
                     RowClick="TransactionSelected"
                     SelectOnRowClick="false"
                     T="Transaction">
            <Columns>
                <SelectColumn T="Transaction" />
                <PropertyColumn Property="x => x.TransactionDate" Title="Date" />
                <PropertyColumn Property="x => x.TransactionRef" Title="Reference" />
                <PropertyColumn Property="x => x.TransactionType" Title="Type" />
                <PropertyColumn Property="x => x.Client.ClientName" Title="Client" />
                <PropertyColumn Property="x => x.NetValue" Title="Net Value" Format="C" />
            </Columns>
        </MudDataGrid>
    </MudTabPanel>

    @foreach (var _TransactionType in transactions.Select(t => t.TransactionType).Distinct())
    {
        <MudTabPanel Text="@(_TransactionType.ToString())">
            <MudDataGrid @bind-SelectedItems="selectedTransactions"
                         Breakpoint="Breakpoint.Sm"
                         Items="transactions.Where(t => t.TransactionType == _TransactionType)"
                         Hover="true"
                         Loading="@loading"
                         LoadingProgressColor="Color.Info"
                         MultiSelection="true"
                         RowClass="cursor-pointer"
                         RowClick="TransactionSelected"
                         SelectOnRowClick="false"
                         T="Transaction">
                <Columns>
                    <SelectColumn T="Transaction" />
                    <PropertyColumn Property="x => x.TransactionDate" Title="Date" />
                    <PropertyColumn Property="x => x.TransactionRef" Title="Reference" />
                    <PropertyColumn Property="x => x.TransactionType" Title="Type" />
                    <PropertyColumn Property="x => x.Client.ClientName" Title="Client" />
                    <PropertyColumn Property="x => x.NetValue" Title="Net Value" Format="C" />
                </Columns>
            </MudDataGrid>
        </MudTabPanel>
    }

</MudTabs>



<MudMessageBox @ref="deleteConfirmationMessage"
               Title="Warning"
               CancelText="Cancel">
    <MessageContent>
        Are you sure you want to delete @(selectedTransactions.Count > 1
                ? $"{selectedTransactions.Count} Transactions"
                : $"{selectedTransactions.First().TransactionRef}")?
    </MessageContent>
    <YesButton>
        <MudButton Variant="Variant.Filled" Color="Color.Error" StartIcon="@Icons.Material.Filled.DeleteForever">Delete!</MudButton>
    </YesButton>
</MudMessageBox>

@code {
    private MudMessageBox deleteConfirmationMessage = default!;
    private string deleteState = string.Empty;
    private bool loading;
    HashSet<Transaction> selectedTransactions = [];
    List<Transaction> transactions = [];

    private async Task GetTransactionsDataAsync()
    {
        loading = true;

        var _Response = await api.GetTransactionsAsync();
        transactions = _Response.Transactions ?? [];

        loading = false;
        await InvokeAsync(StateHasChanged);
    }

    private void NavigateToCreateInvoice()
        => NavigationManager.NavigateTo($"/transactions/invoice/create");

    private void NavigateToCreateReceipt()
        => NavigationManager.NavigateTo($"/transactions/receipt/create");

    private async Task OnDelete()
    {
        if (selectedTransactions.Count != 0)
        {
            int transactionsDeleted = 0;
            bool? result = await deleteConfirmationMessage.ShowAsync();
            deleteState = result is null ? "Canceled" : "Deleted!";

            if (deleteState == "Deleted!")
            {
                foreach (var transaction in selectedTransactions)
                {
                    var _Request = mapper.Map<DeleteTransactionRequest>(transaction);
                    var _Response = await api.DeleteTransactionAsync(_Request);
                    if (_Response.IsSuccessStatusCode)
                    {
                        transactions.Remove(transaction);
                        transactionsDeleted++;
                    }
                    else
                    {
                        Snackbar.Add($"Error {(int)_Response.StatusCode}: {JsonSerializer.Deserialize<string>(_Response.Content.ReadAsStringAsync().Result)}", Severity.Error);
                        return;
                    }
                }
            }
            if (transactionsDeleted > 0)
                Snackbar.Add($"{transactionsDeleted} Transactions Deleted.", Severity.Warning);

            selectedTransactions.Clear();
            await GetTransactionsDataAsync();
            StateHasChanged();
        }
    }

    protected override async Task OnInitializedAsync()
        => await GetTransactionsDataAsync();

    private void TransactionSelected(DataGridRowClickEventArgs<Transaction> args)
    {
        var _SelectedTransaction = args.Item;

        if (_SelectedTransaction is not null && _SelectedTransaction.TransactionType == TransactionType.Invoice.GetCode())
            NavigationManager.NavigateTo($"/transactions/invoices/{_SelectedTransaction.TransactionID}");

        if (_SelectedTransaction is not null && _SelectedTransaction.TransactionType == TransactionType.Receipt.GetCode())
            NavigationManager.NavigateTo($"/transactions/receipts/{_SelectedTransaction.TransactionID}");
    }
}
