@page "/transactions/{id}"
@using AutoMapper
@using BusinessManagementWebApp.Data
@using BusinessManagementWebApp.Data.Products.Entities
@using BusinessManagementWebApp.Data.TransactionItems.Entities
@using BusinessManagementWebApp.Data.Transactions.Entities
@using BusinessManagementWebApp.Data.Transactions.UpdateTransaction

@inject ApiClient api
@inject IDialogService DialogService
@inject IMapper mapper
@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar

@if (isLoading)
{
    <h1>Fetching Data...</h1>
    <MudSkeleton Width="70%" Height="50px" />
    <MudSkeleton Width="70%" Height="50px" />
    <MudSkeleton Width="70%" Height="50px" />
    <MudSkeleton Width="70%" Height="50px" />
    <MudSkeleton Width="70%" Height="50px" />
    <MudSkeleton Width="70%" Height="50px" />
    <MudSkeleton Width="70%" Height="50px" />
    <MudSkeleton Width="70%" Height="50px" />
    <MudSkeleton Width="70%" Height="50px" />
}
else
{
    <div class="d-flex">
        <div class="mr-auto p-2">
            <h1>@transaction.TransactionType - @transaction!.TransactionRef</h1>
        </div>

        <div class="p-2">
            <MudTooltip Delay="300" Text="Save">
                <MudFab Color="Color.Default"
                        OnClick="OnSave"
                        StartIcon="@Icons.Material.Filled.Save" />
            </MudTooltip>

            <MudTooltip Delay="300" Text="Cancel">
                <MudFab Color="Color.Error"
                        OnClick="NavigateToTransactions"
                        StartIcon="@Icons.Material.Filled.Cancel" />
            </MudTooltip>
        </div>
    </div>

    <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
        <MudTabPanel Text="Details">
            <MudPaper MaxWidth="70%">
                <MudTextField @bind-Value="transaction.TransactionDate"
                              Disabled="true"
                              Format="dd/MM/yyyy"
                              Label="Transaction Date"
                              Variant="Variant.Outlined" />

                <MudTextField @bind-Value="transaction.TransactionType"
                              Disabled="true"
                              Label="Transaction Type"
                              Variant="Variant.Outlined" />

                <MudTextField @bind-Value="transaction.DueDate"
                              Label="Due Date"
                              Format="dd/MM/yyyy"
                              Variant="Variant.Outlined"
                              T="DateTime ?" />

                <MudTextField @bind-Value="transaction.Client.ClientName"
                              Disabled="true"
                              Label="Client Name"
                              Variant="Variant.Outlined" />
            </MudPaper>
        </MudTabPanel>
        <MudTabPanel Text="Transaction Items">
            <MudPaper MaxWidth="70%">
                <div class="d-flex justify-content-start">
                    <MudButton Color="Color.Success"
                               OnClick="OpenCreateTransactionItemDialogAsync"
                               StartIcon="@Icons.Material.Filled.Add">Add Item</MudButton>

                    <MudButton Color="Color.Error"
                               StartIcon="@Icons.Material.Filled.Delete">Remove Item</MudButton>
                </div>

                <MudDataGrid Items="@transactionItems"
                             MultiSelection="true">

                    <Columns>
                        <PropertyColumn Property="x => x.Product.ProductCode"
                                        Title="Code" />

                        <PropertyColumn Property="x => x.Product.ProductName"
                                        Title="Name" />

                        <PropertyColumn Property="x => x.Product.ProductDescription"
                                        Title="Description" />

                        <PropertyColumn Editable="true"
                                        Property="x => x.Quantity"
                                        Title="Quantity" />

                        <PropertyColumn Editable="true"
                                        Property="x => x.PricePerItem"
                                        Title="Each"
                                        Format="C" />

                        <PropertyColumn Editable="true"
                                        Property="x => x.LineGross"
                                        Title="Gross"
                                        Format="C" />

                        <PropertyColumn Editable="true"
                                        Property="x => x.LineTax"
                                        Title="Tax"
                                        Format="C" />

                        <PropertyColumn Property="x => x.LineNet"
                                        Title="Net"
                                        Format="C" />

                    </Columns>

                </MudDataGrid>
            </MudPaper>
        </MudTabPanel>
    </MudTabs>

    <AddTransactionItemDialog />
}

@code {
    private bool isLoading = true;
    private Transaction transaction = default!;
    private List<TransactionItem> transactionItems = [];

    [Parameter]
    public string id { get; set; } = string.Empty;

    private void AddTransactionItem(Product product)
    {
        transactionItems.Add(new()
        {
            Product = product,
            ProductID = product.ProductID,
            PricePerItem = product.UnitPrice,
            Quantity = 1,
            LineGross = product.UnitPrice,
            LineTax = product.UnitPrice,
            LineNet = product.UnitPrice,
        });
        StateHasChanged();
    }

    private async Task GetTranctionData()
    {
        var _Response = await api.GetTransactionAsync(id);

        transaction = _Response.Transaction;
        transactionItems = _Response.TransactionItems;
        isLoading = false;
    }

    private void NavigateToTransactions()
        => NavigationManager.NavigateTo("transactions");

    protected override async Task OnInitializedAsync()
        => await GetTranctionData();

    private async Task OnSave()
    {
        if (string.IsNullOrEmpty(transaction!.TransactionRef))
        {
            Snackbar.Add("Transaction must have a reference.", Severity.Error);
        }
        else
        {
            var _Request = mapper.Map<UpdateTransactionRequest>(transaction);
            var _Response = await api.UpdateTransactionAsync(_Request);
            if (_Response.IsSuccessStatusCode)
            {
                Snackbar.Add("Transaction Updated.", Severity.Success);
                NavigationManager.NavigateTo("transactions");
            }
            else
            {
                Snackbar.Add($"Error {(int)_Response.StatusCode}: Transaction could not be updated.", Severity.Error);
            }
        }
    }

    private async Task OpenCreateTransactionItemDialogAsync()
    {
        var dialog = await DialogService.ShowAsync<AddTransactionItemDialog>();

        var result = await dialog.Result;

        if (dialog.Result is not null && !dialog.Result.IsCanceled && result is not null && result.Data is not null)
        {
            AddTransactionItem((Product)result.Data);
            StateHasChanged();
        }
    }
}