@page "/invoices/{id:long}"
@using System.Text.Json
@using AutoMapper
@using BusinessManagementWebApp.Data
@using BusinessManagementWebApp.Data.Entities
@using BusinessManagementWebApp.Data.TransactionItems.DeleteTransactionItem
@using BusinessManagementWebApp.Data.TransactionItems.UpsertTransactionItem
@using BusinessManagementWebApp.Data.Transactions.CreateTransaction
@using BusinessManagementWebApp.Data.Transactions.DeleteTransaction
@using BusinessManagementWebApp.Data.Transactions.UpdateTransaction

@inject ApiClient api
@inject IDialogService DialogService
@inject IMapper mapper
@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar

@if (isLoading)
{
    <h1>Fetching Data...</h1>
    <MudSkeleton Width="70%" Height="50px" />
    <MudSkeleton Width="70%" Height="50px" />
    <MudSkeleton Width="70%" Height="50px" />
    <MudSkeleton Width="70%" Height="50px" />
    <MudSkeleton Width="70%" Height="50px" />
    <MudSkeleton Width="70%" Height="50px" />
    <MudSkeleton Width="70%" Height="50px" />
    <MudSkeleton Width="70%" Height="50px" />
    <MudSkeleton Width="70%" Height="50px" />
}
else
{
    <div class="d-flex">
        <div class="mr-auto p-2">
            <h1>@transaction.TransactionType - @transaction!.TransactionRef</h1>
        </div>

        <div class="p-2">
            <MudTooltip Delay="300" Text="Save">
                <MudFab Color="Color.Default"
                        OnClick="OnSave"
                        StartIcon="@Icons.Material.Filled.Save" />
            </MudTooltip>

            <MudTooltip Delay="300" Text="Delete">
                <MudFab Color="Color.Error"
                        OnClick="OnDelete"
                        StartIcon="@Icons.Material.Filled.Delete" />
            </MudTooltip>

            <MudTooltip Delay="300" Text="Cancel">
                <MudFab Color="Color.Error"
                        OnClick="NavigateToTransactions"
                        StartIcon="@Icons.Material.Filled.Cancel" />
            </MudTooltip>
        </div>
    </div>

    <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
        <MudTabPanel Text="Details">
            <MudPaper MaxWidth="70%">
                <MudTextField @bind-Value="transaction.TransactionDate"
                              Disabled="true"
                              Format="dd/MM/yyyy"
                              Label="Transaction Date"
                              Variant="Variant.Outlined" />

                <MudTextField @bind-Value="transaction.DueDate"
                              Label="Due Date"
                              Format="dd/MM/yyyy"
                              Variant="Variant.Outlined"
                              T="DateTime ?" />

                <MudTextField @bind-Value="transaction.Client.ClientName"
                              Disabled="true"
                              Label="Client Name"
                              Variant="Variant.Outlined" />
            </MudPaper>
        </MudTabPanel>
        <MudTabPanel Text="Transaction Items">
            <MudPaper MaxWidth="70%">
                <div class="d-flex justify-content-start">
                    <MudButton Color="Color.Success"
                               OnClick="OpenCreateTransactionItemDialogAsync"
                               StartIcon="@Icons.Material.Filled.Add">Add Item</MudButton>

                    <MudButton Color="Color.Error"
                               OnClick="DeleteTransactionItems"
                               StartIcon="@Icons.Material.Filled.Delete">Remove Item</MudButton>
                </div>

                <MudDataGrid @bind-SelectedItems="selectedTransactionItems"
                             CommittedItemChanges="OnEditTransactionItem"
                             EditMode="DataGridEditMode.Cell"
                             EditTrigger="DataGridEditTrigger.OnRowClick"
                             Items="@transactionItems"
                             MultiSelection="true"
                             ReadOnly="false"
                             SelectOnRowClick="false"
                             T="TransactionItem">

                    <Columns>
                        <SelectColumn T="TransactionItem" />
                        <PropertyColumn Editable="false"
                                        Property="x => x.Product.ProductCode"
                                        Title="Code" />

                        <PropertyColumn Editable="false"
                                        Property="x => x.Product.ProductName"
                                        Title="Name" />

                        <PropertyColumn Editable="false"
                                        Property="x => x.Product.ProductDescription"
                                        Title="Description" />

                        <PropertyColumn Editable="true"
                                        Property="x => x.Quantity"
                                        Title="Quantity" />

                        <PropertyColumn Editable="true"
                                        Property="x => x.PricePerItem"
                                        Format="N2"
                                        Title="Each" />

                        <PropertyColumn Editable="false"
                                        Property="x => x.LineGross"
                                        Format="N2"
                                        Title="Gross" />

                        <PropertyColumn Editable="false"
                                        Property="x => x.LineTax"
                                        Format="N2"
                                        Title="Tax" />

                        <PropertyColumn Editable="false"
                                        Property="x => x.LineNet"
                                        Format="N2"
                                        Title="Net" />

                    </Columns>

                </MudDataGrid>
            </MudPaper>
        </MudTabPanel>
    </MudTabs>

    <MudMessageBox @ref="deleteConfirmationMessage"
                   Title="Warning"
                   CancelText="Cancel">
        <MessageContent>
            Are you sure you want to delete @(transaction.TransactionRef)?
        </MessageContent>
        <YesButton>
            <MudButton Variant="Variant.Filled" Color="Color.Error" StartIcon="@Icons.Material.Filled.DeleteForever">Delete!</MudButton>
        </YesButton>
    </MudMessageBox>

    <AddInvoiceItemDialog />
}

@code {
    private MudMessageBox deleteConfirmationMessage = default!;
    private string deleteState = string.Empty;
    private bool isLoading = true;
    private HashSet<TransactionItem> selectedTransactionItems = [];
    private Transaction transaction = default!;
    private List<TransactionItem> transactionItems = [];
    private List<TransactionItem> transactionItemsToBeDeleted = [];

    [Parameter]
    public long id { get; set; }

    private void AddTransactionItem(Product product)
    {
        transactionItems.Add(new()
        {
            Product = product,
            ProductID = product.ProductID,
            PricePerItem = product.UnitPrice,
            Quantity = 1,
            LineGross = product.UnitPrice,
            LineTax = product.UnitPrice,
            LineNet = product.UnitPrice,
        });
        StateHasChanged();
    }

    private async Task DeleteTransactionItems()
    {
        if (!selectedTransactionItems.Any())
            return;

        foreach (var _Item in selectedTransactionItems)
        {
            transactionItemsToBeDeleted.Add(_Item);
            transactionItems.Remove(_Item);
        }

        selectedTransactionItems.Clear();
        StateHasChanged();
    }

    private async Task GetTranctionData()
    {
        var _Response = await api.GetInvoiceAsync(id);

        transaction = _Response.Transaction;
        transactionItems = _Response.TransactionItems;
        isLoading = false;
    }

    private void NavigateToTransactions()
        => NavigationManager.NavigateTo("transactions");

    private async Task OnEditTransactionItem(TransactionItem item)
    {
        item.LineGross = item.PricePerItem * item.Quantity;
        item.LineTax = item.LineGross * (decimal)0.10;
        item.LineNet = item.LineGross + item.LineTax;
        StateHasChanged();
    }

    private async Task OnDelete()
    {
        bool? result = await deleteConfirmationMessage.ShowAsync();
        deleteState = result is null ? "Canceled" : "Deleted!";

        if (deleteState == "Deleted!")
        {
            var _Request = mapper.Map<DeleteTransactionRequest>(transaction);
            var _Response = await api.DeleteTransactionAsync(_Request);
            if (_Response.IsSuccessStatusCode)
            {
                Snackbar.Add($"{transaction.TransactionRef} Deleted.", Severity.Warning);
                NavigateToTransactions();
            }
            else
                Snackbar.Add($"Error {(int)_Response.StatusCode}: {JsonSerializer.Deserialize<string>(_Response.Content.ReadAsStringAsync().Result)}", Severity.Error);
        }
    }

    protected override async Task OnInitializedAsync()
        => await GetTranctionData();

    private async Task OnSave()
    {
        if (string.IsNullOrEmpty(transaction!.TransactionRef))
        {
            Snackbar.Add("Transaction must have a reference.", Severity.Error);
            return;
        }

        if (transactionItems.Count == 0)
        {
            Snackbar.Add("Transaction must have at least one item.", Severity.Error);
            return;
        }

        RecalculateTransactionValues();
        var _UpdateTransactionRequest = mapper.Map<UpdateTransactionRequest>(transaction);
        var _UpdateTransactionResponse = await api.UpdateTransactionAsync(_UpdateTransactionRequest);

        if (!_UpdateTransactionResponse.IsSuccessStatusCode)
        {
            Snackbar.Add($"Error {(int)_UpdateTransactionResponse.StatusCode}: {JsonSerializer.Deserialize<string>(_UpdateTransactionResponse.Content.ReadAsStringAsync().Result)}", Severity.Error);
            return;
        }

        var _ResponseData = Newtonsoft.Json.JsonConvert.DeserializeObject<CreateTransactionResponse>(await _UpdateTransactionResponse.Content.ReadAsStringAsync());

        foreach (var _Item in transactionItems)
        {
            if (_ResponseData is not null && _ResponseData.TransactionID != 0)
                _Item.TransactionID = _ResponseData.TransactionID;

            var _TransactionItemRequest = mapper.Map<UpsertTransactionItemRequest>(_Item);
            var _TransactionItemResponse = await api.UpsertTransactionItemAsync(_TransactionItemRequest);

            if (!_TransactionItemResponse.IsSuccessStatusCode)
            {
                Snackbar.Add($"Error {(int)_TransactionItemResponse.StatusCode}: Updating {JsonSerializer.Deserialize<string>(_TransactionItemResponse.Content.ReadAsStringAsync().Result)}", Severity.Error);
                return;
            }
        }

        foreach (var _Item in transactionItemsToBeDeleted)
        {
            var _Request = mapper.Map<DeleteTransactionItemRequest>(_Item);
            var _Response = await api.DeleteTransactionItemAsync(_Request);
            if (!_Response.IsSuccessStatusCode)
            {
                Snackbar.Add($"Error {(int)_Response.StatusCode}: {JsonSerializer.Deserialize<string>(_Response.Content.ReadAsStringAsync().Result)}", Severity.Error);
                return;
            }
        }

        Snackbar.Add("Transaction Updated.", Severity.Success);
        NavigationManager.NavigateTo("transactions");
    }

    private async Task OpenCreateTransactionItemDialogAsync()
    {
        var dialog = await DialogService.ShowAsync<AddInvoiceItemDialog>();

        var result = await dialog.Result;

        if (!dialog.Result.IsCanceled && result?.Data is not null)
        {
            foreach (var _Product in (HashSet<Product>)result.Data)
                AddTransactionItem(_Product);

            StateHasChanged();
        }
    }

    private void RecalculateTransactionValues()
    {
        transaction.GrossValue = 0;
        transaction.TaxValue = 0;
        transaction.NetValue = 0;

        transactionItems.ForEach(item => transaction.GrossValue += item.LineGross);
        transactionItems.ForEach(item => transaction.TaxValue += item.LineTax);
        transactionItems.ForEach(item => transaction.NetValue += item.LineNet);
    }
}