@page "/clients"
@using System.Threading.Tasks
@using AutoMapper
@using BusinessManagementWebApp.Data
@using BusinessManagementWebApp.Data.Clients.DeleteClient
@using BusinessManagementWebApp.Data.Clients.Entities
@using Microsoft.AspNetCore.Components.Web
@using MudBlazor
@rendermode InteractiveServer

@inject ApiClient api
@inject IDialogService DialogService
@inject IMapper mapper
@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar

<PageTitle>Clients</PageTitle>

<div class="d-flex">
    <div class="mr-auto p-2">
        <h1>Clients</h1>
    </div>

    <div class="p-2">
        <MudFab Color="Color.Success"
                OnClick="OpenCreateClientDialogAsync"
                StartIcon="@Icons.Material.Filled.Add" />

        <MudFab Color="Color.Error"
                Disabled="selectedClients.Count == 0"
                OnClick="OnDelete"
                StartIcon="@Icons.Material.Filled.Delete" />
    </div>
</div>

<MudTable @bind-SelectedItems="selectedClients"
          Breakpoint="Breakpoint.Sm"
          Items="@clients"
          Hover="true"
          Loading="@loading"
          LoadingProgressColor="Color.Info"
          MultiSelection="true"
          OnRowClick="ClientSelected"
          RowClass="cursor-pointer"
          T="Client">

    <HeaderContent>
        <MudTh>Name</MudTh>
        <MudTh>Phone</MudTh>
        <MudTh>Email</MudTh>
    </HeaderContent>

    <RowTemplate>
        <MudTd DataLabel="Name">@context.ClientName</MudTd>
        <MudTd DataLabel="Phone">@context.ClientPhone</MudTd>
        <MudTd DataLabel="Email">@context.ClientEmail</MudTd>
    </RowTemplate>

</MudTable>

<AddClientDialog />

<MudMessageBox @ref="deleteConfirmationMessage"
               Title="Warning"
               CancelText="Cancel">
    <MessageContent>
        Are you sure you want to delete @(selectedClients.Count > 1
                ? $"{selectedClients.Count} Clients"
                : $"{selectedClients.First().ClientName}")?
    </MessageContent>
    <YesButton>
        <MudButton Variant="Variant.Filled" Color="Color.Error" StartIcon="@Icons.Material.Filled.DeleteForever">Delete!</MudButton>
    </YesButton>
</MudMessageBox>

@code {
    private List<Client> clients = [];
    private string deleteState = string.Empty;
    private MudMessageBox deleteConfirmationMessage = default!;
    private bool loading;
    private HashSet<Client> selectedClients = [];

    private void ClientSelected(TableRowClickEventArgs<Client> args)
    {
        var _SelectedClient = args.Item;

        if (_SelectedClient is not null)
            NavigationManager.NavigateTo($"/clients/{_SelectedClient.ClientID}");
    }

    private async Task GetClients()
    {
        loading = true;
        var _Response = await api.GetClientsAsync();

        clients = _Response.Clients ?? [];
        loading = false;
        this.StateHasChanged();
    }

    private async Task OnDelete()
    {
        if (selectedClients.Count != 0)
        {
            int clientsDeleted = 0;
            bool? result = await deleteConfirmationMessage.ShowAsync();
            deleteState = result is null ? "Canceled" : "Deleted!";

            if (deleteState == "Deleted!")
            {
                foreach (var client in selectedClients)
                {
                    var _Request = mapper.Map<DeleteClientRequest>(client);
                    var _Response = await api.DeleteClientAsync(_Request);
                    if (_Response.IsSuccessStatusCode)
                    {
                        clients.Remove(client);
                        clientsDeleted++;
                    }
                    else
                        Snackbar.Add($"Error {(int)_Response.StatusCode}: {client.ClientName} could not be deleted.", Severity.Error);
                }
            }

            if (clientsDeleted > 0)
                Snackbar.Add($"{clientsDeleted} Clients Deleted.", Severity.Success);

            await GetClients();
            StateHasChanged();
        }
    }

    private async Task OpenCreateClientDialogAsync()
    {
        var dialog = await DialogService.ShowAsync<AddClientDialog>();

        var result = await dialog.Result;

        if (!dialog.Result.IsCanceled && result?.Data is not null)
        {
            clients.Add((Client)result.Data);
            await GetClients();
            StateHasChanged();
        }
    }

    protected override async Task OnInitializedAsync()
        => await GetClients();
}
